body {
  background-color: #fff8cc;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usuario-info {
  background-color: #f0e68c;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 6px;
  font-weight: bold;
}

.contenedor {
  background-color: #fef3b6;
  width: 600px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7e86c;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 15px;
}

.cerrar-btn {
  background-color: #f87171;
  color: black;
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.historial {
  background-color: #f4e36f;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item-pago {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin: 8px 0;
  color: #333;
}