body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-bar button {
    padding: 10px 15px;
    border: none;
    background-color: #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .usuario {
    display: flex;
    justify-content: space-between;
    background-color: #888;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    color: white;
  }
  
  .usuario span {
    width: 30%;
    text-align: center;
  }
  