body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
  }
  
  .header {
    text-align: center;
    background: #ccc;
    padding: 10px;
    border-radius: 20px;
  }
  
  .form-section {
    background: #d0d0d0;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .form-section input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background: #444;
    color: white;
    border: none;
    border-radius: 8px;
  }
  
  textarea {
    height: 80px;
    resize: none;
  }
  
  .price-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  #planPrice {
    flex: 1;
  }
  
  .add-btn {
    background: #b8ff9c;
    color: black;
    font-size: 24px;
    width: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .plan-list {
    margin-top: 20px;
  }
  
  .plan-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .plan-name,
  .plan-price,
  .plan-info {
    background: #444;
    color: white;
    padding: 10px;
    border-radius: 10px;
    min-width: 20%;
    text-align: center;
  }
  
  .actions {
    display: flex;
    gap: 5px;
  }
  
  .edit-btn,
  .delete-btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
  }
  
  .edit-btn {
    background: #b6e4e0;
  }
  
  .delete-btn {
    background: #ff9d9d;
    color: red;
  }
  